.table-wrapper{

  padding:20px;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,.08);
  margin-top:30px;
}

.table-title{
  font-weight:700;
  margin-bottom:15px;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.employee-table{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

.employee-table thead{
  background:rgb(128, 151, 164);
  color:black;
}

.employee-table th,
.employee-table td{
  padding:10px;
  text-align:left;
}

.employee-table tbody tr{
  transition:.2s;
}

.employee-table tbody tr:hover{
  background:#f1f5ff;
}

.role-badge{
  background:#dbeafe;
  color:#2563eb;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

.edit-btn{
  background:#22c55e;
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:6px;
  margin-right:5px;
  font-size:12px;
}

.delete-btn{
  background:#ef4444;
  border:none;
  color:white;
  padding:5px 10px;
  border-radius:6px;
  font-size:12px;
}

.edit-btn:hover{opacity:.85;}
.delete-btn:hover{opacity:.85;}

/* Responsive */
@media(max-width:900px){
  .employee-table{
    font-size:13px;
  }

  .employee-table th:nth-child(4),
  .employee-table td:nth-child(4){
    display:none;
  }
}
.profile-link{
  color:black;
  text-decoration:none;
  font-weight:600;
  position:relative;
}

.profile-link::after{
  content: attr(data-text);
  position:absolute;
  bottom:120%;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:#fff;
  padding:4px 8px;
  border-radius:6px;
  font-size:12px;
  opacity:0;
  pointer-events:none;
  transition:0.2s;
  white-space:nowrap;
}

.profile-link:hover::after{
  opacity:1;
}
